.contact {
    padding: 20px;
    text-align: center;
    background: hsl(0, 0%, 100%);
}
.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}
.contact label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.contact button.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1e21ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.contact button.btn:hover {
    background-color: #000000;
}
